src/main/mule/smaple.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6e8ba201-d8f3-4e43-95ff-76efda18e4e6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="smapleFlow" doc:id="926bbcee-92b6-4416-b010-6a3a71c88cb5" >
		<http:listener doc:name="Listener" doc:id="0845929a-dabf-44c8-9fce-5664a7e70416" config-ref="HTTP_Listener_config" path="api"/>
		<set-payload value='#["welcome to mulesoft"]' doc:name="Set Payload" doc:id="a1e97198-3372-4578-9ff7-7e2d45915a0a" />
	</flow>
</mule>
